Romeo/config.py
Romeo/*.session
Romeo/*.session-journal
Romeo/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Romeo/modules/helper_funcs/temp.txt
Romeo/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
romeo.session-journal
updates.txt
*.exe
